<!-- Search Component-->
<form method="GET" class="d-flex justify-content-center">
    <div style="width:65%;" class="input-group">
        <input value="{{ search }}" type="search" name="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
        <button type="button" class="btn btn-outline-primary">search</button>
    </div>
</form>