{% extends 'layout/root.html.twig' %}

{% block SEO %}
    {% include 'partials/seo.html.twig' %}
{% endblock %}

{% block PAGE_HEADER %}
    <!-- Page Header-->
    <header class="masthead" style="background-image: url('{{ data.getImage ? data.getImage().getImage().getFullPath() : '' }}')">
        <div class="container position-relative px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center ">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <div class="post-heading">
                        <h1>{{ data.getTitle() }}</h1>
                        <h2 class="subheading">{{ data.getShortDescription() }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock %}

{% block CONTENT_MAIN %}
    <!-- Main Content-->
    {% if pagination.data is defined %}
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                {% include 'partials/search.html.twig' %}
                {% include 'partials/card.html.twig' %}
            </div>
        </div>
    {% endif %}

{% endblock %}